<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <p class="descuentos">Descuentos 20%</p>
    </header>
    <div class="loghead">
      <a href="../index.html" class="logo"
        ><img src="../img/logo 1.svg" height="65" alt="logo"
      /></a>
      <h1 class="blue-white">Nombre de la tienda</h1>
    </div>
    <nav>
      <ul type="none">
        <li><a class="navitem" href="">Contacto</a></li>
        <li><a class="navitem" href="register.html">Registrarme</a></li>
        <li><a class="navitem" href="login.html">Ingresar</a></li>
      </ul>
    </nav>
    <main>
      <form action="../index.html" method="POST">
        <h2 class="hform white">Iniciar sesión</h2>
        <label class="white" for="email">Email</label>
        <input type="email" name="email" id="email" />

        <label class="white" for="password">Contraseña</label>
        <input type="password" name="password" id="password" />

        <div class="container4">
          <input type="checkbox" name="recordar" id="recordar" />
          <label class="white" for="recordar"
            >Recordar datos</label
          >
          
        </div>

        <button class="formbutton" type="submit">Ingresar</button>
      </form>
    </main>

    <footer class="blue-white">
      <p class="footp">Todos los derechos reservados a FRONT END 1</p>
      <img class="github" src="../img/Vector.png" alt="" />
    </footer>
  </body>
</html>
